[Unit]
Description=TiDB is a distributed NewSQL database compatible with MySQL protocol
After=network-online.target
Wants=network-online.target

[Service]
User=tidb
Group=tidb
ExecStart=/usr/bin/tidb-server --config $CONFIGURATION_DIRECTORY/config.toml
ExecReload=/bin/kill -HUP \$MAINPID
KillSignal=SIGINT
ConfigurationDirectory=tidb
Restart=on-failure

[Install]
WantedBy=multi-user.target
